@import 'tailwindcss';

:root {
  --background: #f7f9fc;
  --foreground: #1e1e1e;
}

@theme inline {
  --color-primary: #ff6b35;
  --color-bg-white: #f7f9fc;
  --color-success: #2ecc71;
  --color-text-dark: #1e1e1e;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
}
